<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="mx-2 navbar-brand">{{ title }}</a>
  <ul class="nav nav-pills">
    <li>
      <a class="nav-link" routerLinkActive="active" routerLink="/welcome"
        >Home</a
      >
    </li>
    <li>
      <a class="nav-link" routerLinkActive="active" routerLink="/products"
        >Product List</a
      >
    </li>
    <li>
      <a class="nav-link" routerLinkActive="active" routerLink="/cart">Cart</a>
    </li>
  </ul>
</nav>
<!-- <h2 class="my-4 text-center">Acme Product Managment</h2> -->
<div class="my-4 container">
  <router-outlet></router-outlet>
</div>
